.wrapper {
  &.active {
    .flexContainer {
      .content {
        color: #bd68ca;
      }
    }
  }

  &:not(:first-child) {
    padding-right: 6rem;
  }

  &:last-child {
    padding: 0;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;

    .content {
      max-width: 160px;
      width: 100%;
      font-size: 1.4rem;
      color: #434652;
      border: none;
      padding: 0;
      outline: none;
      cursor: inherit;
      pointer-events: all;
      overflow: hidden;
      text-overflow: ellipsis;

      &:disabled {
        pointer-events: none;
      }
    }

    .buttonsContainer {
      button:not(:last-child) {
        margin-right: 2.5rem;
      }
      button svg {
        width: 2rem;
      }
    }
  }
}
