.wrapper {
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &.active {
    .flexContainer {
      .content {
        color: #bd68ca;
      }
    }
  }

  &:not(:first-child) {
    padding-right: 6rem;
  }

  &:last-child {
    padding: 0;
  }

  .flexContainer {
    display: flex;

    .content {
      width: 100%;
      font-size: 1.4rem;
      color: #434652;
      border: none;
      padding: 0;
      outline: none;
      cursor: inherit;
      pointer-events: all;

      &:disabled{
        pointer-events: none;
      }
    }

    .buttonsContainer {
      button:not(:last-child) {
        margin-right: 2.5rem;
      }
      button svg {
        width: 2rem;
      }
    }
  }
}
