.purple-btn{
    height: 4.8rem;
    width: 100%;
    border-radius: 4px;
    font-weight: 500;
    background-color: #bd68ca;
    color: #fff;
}

.outline-btn{
    height: 4.8rem;
    width: 100%;
    border-radius: 4px;
    font-weight: 500;
    border: 1px solid #d0d3da;
    color: #37393D;
}