.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  & > div {
    flex: 1 1 50%;
    height: 100%;
  }

  & > svg{
    width: 16px;
    height: 16px;
    margin: 0 4rem;
  }
}
