.wrapper {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addBtn {
  padding: 0.8rem;
  background-color: #bd68ca;
  border-radius: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  margin-top: 25px;
}
