.wrapper{
    max-height: 100vh;
    width: 100%;
    overflow-y: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  
  
    thead {
      tr {
        border-top: 1px solid #ebecef;
        border-bottom: 1px solid #ebecef;
      }
  
      th {
        padding: 1rem 0;
        color: #737680;
        font-weight: 500;
        font-size: 1.4rem;
  
        &:not(:first-child){
          padding-right: 6rem;
        }
  
        &:last-child{
          padding: 0;
        }
  
        &:not(:last-child) {
          text-align: left;
        }
      }
    }
  
    tbody {
  
  
      tr {
        height: 68px;
        border-bottom: 1px solid #ebecef;
        
        
        td{
          max-width: 160px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
  
          &:not(:first-child){
            padding-right: 6rem;
          }
  
          &:last-child{
            padding: 0;
          }
        }
  
        
        td:last-child {
          text-align: center;
        }
      }
    }
  }
  